<header class="header">
  <img src="inmater_logo_2.png" alt="Inmater Logo" class="logo">
</header>

<div class="row d-flex gap-3">
  <img src="fondo_clinica.jpg" alt="Inmater Logo" class="fondo">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h4>LISTADO DE TAREAS - PRUEBA TÉCNICA IMMATER</h4>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>N°</th>
              <th>Título de tarea</th>
              <th>Fecha de Vencimiento</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ task.title }}</td>
              <td>
                <span *ngIf="!task.due_date">Sin fecha</span>
                <span *ngIf="task.due_date">{{ task.due_date | date }}</span>
              </td>
              <td [ngClass]="{
                'status-late': task.status_desc === 'atrasada',
                'status-pending': task.status_desc === 'pendiente',
                'status-in-progress': task.status_desc === 'en progreso',
                'status-completed': task.status_desc === 'completada'
              }">
                {{ task.status_desc | uppercase }}
              </td>
              <td class="d-flex gap-2">
                <button class="btn btn-update btn-sm" (click)="editTask(task)">Actualizar</button>
                <button class="btn btn-danger btn-sm" (click)="task.id ? deleteTask(task.id) : null">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        {{ editing ? 'Editando tarea' : 'Agregando nueva tarea' }}
      </div>
      <div class="card-body d-flex flex-column gap-3">
        <form [formGroup]="taskForm" (ngSubmit)="submitTask()">
          <div class="d-flex flex-column">
            <label for="task-title">Título de tarea</label>
            <input id="task-title" type="text" class="form-control" formControlName="title">
          </div>

          <div class="d-grid gap-3">
            <div class="d-flex flex-column">
              <label for="due-date">Fecha de vencimiento</label>
              <input id="due-date" type="date" class="form-control" formControlName="due_date">
            </div>

            <div class="d-flex flex-column">
              <label for="status">Estado</label>
              <select id="status" class="form-select" formControlName="status_id">
                <option value="1">Pendiente</option>
                <option value="2">En progreso</option>
                <option value="3">Completada</option>
                <option value="4">Atrasada</option>
              </select>
            </div>
          </div>

          <div class="d-flex justify-content-between mt-3">
            <button type="reset" class="btn btn-secondary w-45" (click)="resetForm()">Cancelar</button>
            <button type="submit" class="btn btn-success w-45" [disabled]="taskForm.invalid">
              {{ editing ? 'Editar Tarea' : 'Guardar Tarea' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
